body{padding: 0; margin: 0;}
a{text-decoration: none; color: #eee;}
section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #121212;
}

.logo-header{
    position: relative;
    font-family: 'Heebo', sans-serif;
    text-shadow: 3px 3px 8px #111;
    font-weight: 400;
    font-size: 6em;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: 0;
    color: #eb3b5a;
    background-color: #eee;
    background-image: url('/img/low-angle-shot-of-high-rise-building-2096578.jpg');
    background-size: 100% 100%;
}

nav {
    margin: 0;
    color: #eee;
    background-color: #232323;
    height: 50px;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 15px;
    margin: 0 30px;
}

a:active{
    background-color: #121212;
}

nav ul li:hover {
    background-color: #121212;
}

article{
    margin: 20px 0;
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: space-between;
    margin: 2% 2%;
    background-color: #232323;
   /* box-shadow: 14px 10px 25px 0px rgba(77,77,77,0.3);
    -webkit-box-shadow: 14px 10px 25px 0px rgba(77,77,77,0.3);*/
}

.changeColor:hover{
    color: #fc5185;
}

.headline{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #eee;
    margin-left: 10px;
    width: 90%;
}
.author{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin-left: 10px;
    width: 90%;
    font-size: 0.9em;
    color:#eee;
}

.author span{
    color: #fc5185;
}
img{
    height: auto;
    width: 100%;
}