section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

article{
    margin: 20px 0;
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: space-between;
    margin: 2% 2%;
    -webkit-box-shadow: 14px 10px 25px 0px rgba(77,77,77,0.3);
}

.headline{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #424242;
    margin-left: 10px;
    width: 90%;
}
.author{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin-left: 10px;
    width: 90%;
    font-size: 0.9em;
    color:#424242;
}

.author span{
    color: #e2127A;
}
img{
    height: auto;
    width: 100%;
}